html, body {
    height: 100%;
}
html {
    background: #eee;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fbfcee;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.wave {
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}
.wave.-three {
    animation: drift 5000ms infinite linear;
}
.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    background: yellow;
}
.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(171,102,255,1), rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}
.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    text-indent: 0.3em;
}
@keyframes drift {
    from {
        transform: rotate(0deg);
   }
    from {
        transform: rotate(360deg);
   }
}
